<% content_for :head do -%>
  <%#= javascript_include_tag "admin/index_grid" %>
<% end %>
<%= render :partial => '/admin/fulfillment/sub_header'%>

<h2> Shipping Orders</h2>

<div id="admin_fulfillment_orders_page_wrapper">
  <div id="admin_fulfillment_orders_grid_wrapper" class='column'>

    <table>
      <tr>
        <th>Number</th>
        <th>Email</th>
        <th>Completed at</th>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>

    <% @orders.each do |order| %>
      <tr>
        <td><%= order.number %></td>
        <td><%= order.email %></td>
        <td><%= order.display_completed_at %></td>
        <td><%= order.name %></td>
        <td><%= link_to 'Edit', edit_admin_fulfillment_order_path(order) %></td>
      </tr>
    <% end %>
    </table>
  </div>

</div>
