<% content_for :head do -%>
  <%#= javascript_include_tag "admin/index_grid" %>
<% end %>
<%= render :partial => '/admin/inventory/sub_header'%>

<h2> Purchase Orders </h2>

<div id="admin_purchase_orders_page_wrapper">
  <div id="admin_purchase_orders_grid_wrapper" class='column'>
    <table>
      <tr>
        <th>supplier name</th>
        <th>invoice #</th>
        <th>tracking #</th>
        <th>Estimated Arrives at</th>
        <th>Received</th>
        <th></th>
        <th></th>
      </tr>
      <% for purchase_order in @purchase_orders %>
        <tr>
          <td><%= purchase_order.supplier_name %></td>
          <td><%= purchase_order.invoice_number %></td>
          <td><%= purchase_order.tracking_number %></td>
          <td><%= purchase_order.display_estimated_arrival_on %></td>
          <td><%= purchase_order.display_received %></td>
          <td><%= link_to "Show", admin_inventory_purchase_order_path(purchase_order) %></td>
          <td><%= link_to "Edit", edit_admin_inventory_purchase_order_path(purchase_order) %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div id="admin_new_purchase_order_button" class="admin_new_button last">
    <%= link_to "New Purchase Order", new_admin_inventory_purchase_order_path, :class => "button", :id => "new_purchase_order_button" %>
  </div>
</div>