<% content_for :head do -%>
  <%#= javascript_include_tag "admin/index_grid" %>
<% end %>
<%= render :partial => '/admin/inventory/sub_header'%>

<h2> Suppliers </h2>

<div id="admin_suppliers_page_wrapper">
  <div id="admin_suppliers_grid_wrapper" class='column'>
    <table>
      <tr>
        <th>Display Name</th><th>Name</th>
      </tr>
      <% for supplier in @suppliers %>
        <tr>
          <td><%= supplier.display_name %></td>
            <td><%= supplier.name %></td>
          <td><%= link_to "Show", admin_inventory_supplier_path(supplier) %></td>
          <td><%= link_to "Edit", edit_admin_inventory_supplier_path(supplier) %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div id="admin_new_supplier_button" class="admin_new_button last">
    <%= link_to "New Supplier", new_admin_inventory_supplier_path, :class => "button", :id => "new_supplier_button" %>
  </div>
</div>
