<% content_for :head do -%>
  <%#= javascript_include_tag "admin/index_grid" %>
<% end %>

<%= render :partial => '/admin/merchandise/sub_header'%>

<h2> Properties </h2>

<div id="admin_properties_page_wrapper">
  <div id="admin_properties_grid_wrapper" class='column'>
    <table>
      <tr>
        <th>Name ID</th>
        <th>Name</th>
        <th>Active?</th>
        <th></th>
        <th></th>
      </tr>

      <% @properties.each do |property| %>
        <tr>
          <td><%= property.identifing_name %></td>
          <td><%= property.display_name %></td>
          <td><%= property.display_active %></td>
          <td><%= link_to 'Edit', edit_admin_merchandise_property_path(property) %></td>
        </tr>
      <% end %>
    </table>

    <%= will_paginate @properties %>
  </div>

  <div id="admin_new_property_button" class="admin_new_button last">
    <%= link_to "New Property", new_admin_merchandise_property_path, :class => "button", :id => "new_property_button" %>
  </div>
</div>