
<% content_for :head do -%>
  <%#= javascript_include_tag "admin/index_grid" %>
<% end %>

<% content_for :bottom do -%>

<% end %>

<h2>Select User</h2>

<div id="admin_shopping_users_page_wrapper">
  <div id="admin_shopping_users_grid_wrapper" class='column'>

    <div id="admin_users_page_wrapper">
      <div id="admin_users_grid_wrapper" class='column'>
        <table>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>

        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.state %></td>
            <td><%= link_to 'Select', admin_shopping_user_path(user), :method => 'POST' %></td>
          </tr>
        <% end %>
        </table>

      </div>
    <%= will_paginate @users %>
  </div>

</div>
<%= form_tag admin_shopping_users_path, :id => 'admin-user-form' do %>
  <%= hidden_field_tag('user_id', nil, :id => 'admin-user_id') %>
<% end %>
