<% content_for :head do -%>
  <%#= javascript_include_tag "admin/index_grid" %>
<% end %>

<%= render :partial => '/admin/merchandise/sub_header'%>

<h2> Prototypes </h2>

<div id="admin_prototypes_page_wrapper">
  <div id="admin_prototypes_grid_wrapper" class='column'>
    <table>
      <tr>
        <th>Name</th>
        <th>Active</th>
        <th></th>
        <th></th>
      </tr>

      <% @prototypes.each do |prototype| %>
        <tr>
          <td><%= prototype.name %></td>
          <td><%= prototype.display_active %></td>
          <td><%= link_to 'Show', admin_merchandise_prototype_path( prototype) %></td>
          <td><%= link_to 'Edit', edit_admin_merchandise_prototype_path(prototype) %></td>
        </tr>
      <% end %>
    </table>

    <%= will_paginate @prototypes %>
  </div>

  <div  id="admin_new_prototype_button"
        class="admin_new_button last">
    <%= link_to "New Prototype", new_admin_merchandise_prototype_path,
                                          :class  => "button",
                                          :id     => "new_prototype_button" %>
  </div>
</div>
