<h1 style='text-align:left;'> My Showrooms </h1>
<div class='span-18 column' style='width:708px;'>
  <div class='ar-widget'>
    <h3 style='text-align:left;'> My Bedroom </h3>
    <ul>
      <li><%= link_to 'View My Bedroom', my_rooms_bedroom_path %>        </li>
      <li><%= link_to 'Add items to My Bedroom', my_rooms_bedroom_path %></li>
      <li><%= link_to 'Share My My Bedroom', my_rooms_bedroom_path %>    </li>
    </ul>
  </div>
  <div class='ar-widget'>
    <h3 style='text-align:left;'> My Livingroom </h3>
    <ul>
      <li><%= link_to 'View My Livingroom', my_rooms_livingroom_path %></li>
      <li><%= link_to 'Add items to My Livingroom', my_rooms_livingroom_path %></li>
      <li><%= link_to 'Share My Livingroom', my_rooms_livingroom_path %></li>
    </ul>
  </div>

</div>
<div class='span-6 last ar-widget'>
  Add Something here.

</div>
