<%= render :partial => '/admin/merchandise/sub_header'%>

<% content_for :head do -%>
  <%#= javascript_include_tag "admin/index_grid" %>
<% end %>

<h2> <%= @product.name %> Variants</h2>

<div id="admin_variants_page_wrapper">
  <div id="admin_variants_grid_wrapper">
    <table>
      <tr>
        <th>Name</th>
        <th>sku</th>
        <th>price</th>
        <th></th>
        <th></th>
      </tr>

      <% @variants.each do |variant| %>
        <tr>
          <td><%= variant.product_name %></td>
          <td><%= variant.sku %></td>
          <td><%= variant.price %></td>
          <td><%= link_to 'Show', admin_merchandise_product_variant_path(@product, variant) %></td>
          <td><%= link_to 'Edit', edit_admin_rma_order_return_authorization_path(@product, variant) %></td>
        </tr>
      <% end %>
    </table>

    <%= will_paginate @variants %>
  </div>

  <div id="admin_new_variant_button" class="admin_new_button last">
    <%= link_to "New Variant", new_admin_merchandise_product_variant_path(@product),
                                :class  => "button green",
                                :id     => "new_product_button" %>
  </div>

  <div id="admin_product_button" class="admin_product_button last">
    <%= link_to "View Product", admin_merchandise_product_path(@product),
                                :class  => "button spade",
                                :id     => "new_product_button" %>
  </div>

</div>
