<% content_for :head do -%>
  <%#= javascript_include_tag "admin/index_grid" %>
<% end %>
<%= render :partial => '/admin/merchandise/sub_header'%>

<h2> Product Types </h2>

<div id="admin_product_types_page_wrapper">
  <div id="admin_product_types_grid_wrapper" class='column'>
    <table>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>

      <% @product_types.each do |product_type| %>
        <tr>
          <td><%= product_type.name %></td>
          <td><%= link_to 'Edit', edit_admin_merchandise_product_type_path(product_type) %></td>
        </tr>
      <% end %>
    </table>

    <%= will_paginate @product_types %>
  </div>

  <div id="admin_new_product_type_button" class="admin_new_button last">
    <%= link_to "New Type", new_admin_merchandise_product_type_path, :class => "button", :id => "new_product_type_button" %>
  </div>
</div>
